version: "3.9"
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        GH_PAGES: "false"
    image: tumen-front:web
    container_name: tumen-front-web
    ports:
      - "80:80"
      - "443:443"
    environment:
      DOMAIN: ${DOMAIN}
      EMAIL: ${EMAIL}
      BACKEND_ORIGIN: ${BACKEND_ORIGIN}
    volumes:
      - caddy_data:/data
      - caddy_config:/config
volumes:
  caddy_data:
  caddy_config:
  
extra_hosts:
  - "host.docker.internal:host-gateway"